/*-----------FUENTES TIPOGRAFICAS-----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*-----------VARIABLES-----------*/
:root {
  --colorPrincipal: #00669F;
  --colorEnlaces: #f3f3f3;
  --colorCard: #f3f3f3; 
}

/*-----------GENERAL-----------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/*-----------HEADER-----------*/

.header-top {
  background-color:#1CD1B0;
  padding: 0.2em;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--colorPrincipal);
  color: var(--colorEnlaces);
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(20, 14, 14, 0.5);
}

.header-bottom img {
  width: 7%;
}

.logo {
  font-family: 'Encode Sans SC', sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5em;
}

.link-menu::after {
  content: '';
  display: block;
  width: 0;
  height: 0.7px;
  background-color: #fff;
  transition: width .5s;
}

.link-menu:hover::after {
  width: 100%;
  transition: width .5s;
}

.menu {
  padding: 0.5em 2.5em;
  background-color: #001D2D;
}

.menu a {
  font-size: 1rem;
  padding: 0 0.3em;
  font-weight: 400;
  text-decoration: none;
  color: #F3F3F3;
  display: inline-block;
}

ul {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

h1 {
  font-weight: 400;
}

h1 a{
  text-decoration: none;
  color: #F3F3F3;
}

/*-----------INICIO MAIN-----------*/

main {
  position: relative;
}

.container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icono-mas {
  background-color: var(--colorPrincipal);
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorEnlaces);
  position: fixed;
  right: 1rem;
  top: 48%;
  z-index: 8;
  box-shadow: 0 5px 5px rgb(0 0 0 / 24%);
  transition: all 0.5s;
}

.icono-mas:hover {
  background-color: #001D2D;
}

.mas {
  color: #f3f3f3;
  font-size: 2.5em;
}

/*-----------SECTION CARDS SUPERS-----------*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  border-radius: 10px 10px 0 0;
  background-color: var(--colorCard);
  position: relative;
  text-align:center;
  margin: 50px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.card-heart {
  color: #CC2424;
  font-size: 30px;
  margin: 0 0 0 -240px; 
  position: relative;
  top: -65px;
}

.card-perfil{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8a8787;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  position: absolute;
  z-index: 9;
  margin: -6rem 4.5rem;
  box-shadow: 0px 10px 7px rgb(0 0 0 / 15%);
}

.card-text {
  padding: 15px;
  position: relative;
}

.card-text h2{
  padding: 3rem 0 1rem 0 ;
  text-align: center;
}

.card-text p {
  padding: 5px;
  text-align: justify;
  margin-bottom: 20px;
}

.card-btn{
  color: var(--colorEnlaces);
  background-color: var(--colorPrincipal);
  padding: 10px;
  margin: 50px;
  border-radius: 8%;
  transition: all 0.5s;
}

.card-btn:hover {
  background-color: #001D2D;
  box-shadow: 0 5px 5px rgb(0 0 0 / 24%);
  font-weight: 700;
}

.card-background {
  padding: 4.5rem;
  position: relative;
  border-radius: 10px 10px 0 0;
}

/*-----------BATMAN-----------*/
.card-img-batman {
  background: #F3F3F3 url('../img/card-batman-fondo.svg');
  background-size: cover;
}

/*-----------MUJER MARAVILLA-----------*/
.card-img-wonder-woman {
  background: var(--colorCard) url('../img/card-wonder-woman-fondo.svg');
  background-size: cover;
}

/*-----------SUPERMAN-----------*/
.card-img-superman {
  background: var(--colorCard) url('../img/card-superman-fondo.svg');
  background-size: cover;
}

/*-----------HARLEY QUINN-----------*/
.card-img-harley {
  background: var(--colorCard) url('../img/card-harley-fondo.svg');
  background-size: cover;
}


.botones {
  display: flex;
  gap: 10px;
}

.btn {
  border: transparent;
  font-weight: 600;
  border-radius: 23px;
  cursor: pointer;
}

.resetear {
  background-color: #888888;
  color: #f3f3f3;
}

.entrar {
  background-color: #1CD1B0;
  color: #000;
}


.registrar {
  background-color: #1CD1B0;
  color: #000;
}

/*-----------FIN MAIN-----------*/

/*-----------FOOTER-----------*/
footer{
  background-color:var(--colorPrincipal);
  color: white;
  text-align: center;
  padding: 1em;
}


/*--------MEDIAS QUERIES--------*/

/* ------TABLET------ */
@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    align-items: center;
  }
  .card {
    margin: 1rem;
  }
}

/* ------CELULAR------ */
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .icono-mas {
    top: 49%;
  }
}


