a{
  text-decoration: none;
}

main {
  width: 100vw;
  height: 120vh;
}

.harley-quinn-container {
  background: cornsilk url(/img/harley-fondo.png) no-repeat;
  background-size: cover;
}

.superman-container {
  background: cornsilk url(/img/superman-fondo.jpg) no-repeat;
  background-size: cover;
}

.wonderwoman-container {
  background: cornsilk url(/img/mujermaravilla-fondo.jpg) no-repeat;
  background-size: cover;
}

.batman-container {
  background: cornsilk url(/img/batman-fondo.jpg) no-repeat;
  background-size: cover;
}

.perfil {
  position: absolute;
  border-radius: 50%;
  margin: 1.5rem 35rem;
  z-index: 5;
}

.super-perfil {
  width: 13%;
}

h3 {
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
}

.contenido-super {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 8rem;
  position: relative;
  text-align: justify;
  align-items: center;
  background-color: #fff;
  width: 40%;
  border-radius: 10%;
  padding: 4rem 1rem;
}

.armas img {
  padding: 2em 1em;
}

.contenido-super a{
  color: #2C0187;
  font-weight: 700;
  font-size: 1.2rem;
}