@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/*--------HEADER--------*/

header, footer {
  padding: 1em;
}

.header-top {
  background-color: #D1891C;
  padding: 0.5rem 1rem;
}

.header-bottom {
  background-color:#00669F;
  color: #F3F3F3;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(20, 14, 14, 0.5);
}

h1 {
  font-weight: 400;
}

/*--------MAIN--------*/

main {
  position: relative;
}

.icono-mas {
  background-color: #00669F;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F3F3F3;
  position: absolute;
  right: 1rem;
  top: 48%;
  z-index: 8;
}

.mas {
  font-size: 2em;
}

.container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  border-radius: 10px 10px 0 0;
  background-color: #F3F3F3;
  position: relative;
  text-align:center;
  margin: 50px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.card-heart {
  color: #CC2424;
  font-size: 30px;
  margin: 0 0 0 -240px; 
  position: relative;
  top: -65px;
}

.card-img-batman {
  background: #F3F3F3 url('../img/card-batman-fondo.svg');
  background-size: cover;
  padding: 5rem;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.card-img-wonder-woman {
  background: #F3F3F3 url('../img/card-wonder-woman-fondo.svg');
  background-size: cover;
  padding: 5rem;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.card-img-superman {
  background: #F3F3F3 url('../img/card-superman-fondo.svg');
  background-size: cover;
  padding: 5rem;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.card-img-harley {
  background: #F3F3F3 url('../img/card-harley-fondo.svg');
  background-size: cover;
  padding: 5rem;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.card-perfil{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8a8787;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  position: absolute;
  z-index: 9;
  margin: -6rem 4rem;
  box-shadow: 0px 10px 7px rgb(0 0 0 / 15%);
}

.card-text {
  padding: 20px;
  position: relative;
}

.card-text h2{
  padding: 3rem 0 1rem 0 ;
  text-align: center;
}

.card-text p {
  padding: 5px;
  text-align: left;
  margin-bottom: 30px;
}

.card-btn{
  color: white;
  background-color: #00669F;
  padding: 10px;
  margin: 50px;
}

/*--------FOOTER--------*/
footer{
  background-color:#00669F;
  padding: 1.5rem;
  color: white;
  text-align: center;
  position: relative;
}

footer img{
  width: 9%;
  position: absolute;
  top: 1rem;
  right: 7rem;
}


/*--------MEDIAS QUERIES--------*/

/* ------TABLET------ */
@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    align-items: center;
  }
  .card {
    margin: 1rem;
  }
  footer img {
    width: 9%;
    position: absolute;
    top: 1.3rem;
    right: 4rem;
  }
}

/* ------CELULAR------ */
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .icono-mas {
    top: 49%;
  }
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  footer p{
    font-size: 0.7em;
  }
  footer img {
    width: 12%;
    position: absolute;
    right: 1.5em;
    top: 1.4em;
  }
}


