a{
  text-decoration: none;
}

main {
  width: 100%;
  height: 130vh;
}

h3 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

/* ------------SUPERS------------ */

.perfil {
  border-radius: 50%;
  box-shadow: 0 5px 5px rgb(0 0 0 / 50%);
  left: calc(47% - 60px);
  position: absolute;
  top: -80px;
  width: 9rem;
}

.super-container {
  top: 7rem;
  display: flex;
  flex-direction: column;
  border-radius: 45px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 24%);
  position: relative;
  width: 45%;
  min-width: 18rem;
  background-color: #F3F3F3;
  margin: 0 auto;
}

.contenido-super {
  position: relative;
  padding: 4rem 1.5rem 2rem;
}

.super-container a{
  color: #F3F3F3;
  font-weight: 700;
  font-size: 1.2rem;
}

.home {
  background-color: #110036;
  text-align: center;
  padding: 2rem;
  border-radius: 0 0 45px 45px;
  transition: all 0.5s;
}

.home:hover {
  background-color: rgba(17, 0, 54, 0.9);
}

/* ------------BATMAN------------ */

.batman-detail {
  background: cornsilk url(../img/batman-fondo.jpg) no-repeat;
  background-size: cover;
}

/* ------------MUJER MARAVILLA------------ */
.wonderwoman-container {
  background: cornsilk url(../img/mujermaravilla-fondo.jpg) no-repeat;
  background-size: cover;
}

/* ------------SUPERMAN------------ */
.superman-container {
  background: cornsilk url(../img/superman-fondo.jpg) no-repeat;
  background-size: cover;
}

/* ------------HARLEY QUINN------------ */
.harley-quinn-container {
  background: cornsilk url(../img/harley-fondo.png) no-repeat;
  background-size: cover;
}

.armas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 1em;
}


/* ------------MEDIAS QUERIES------------ */

@media screen and (max-width:950px) {
  main {
    width: 100%;
    height: 150vh;
  }
}

@media screen and (max-width:780px) {
  main {
    width: 100%;
    height: 160vh;
  }
}