body {
  font-family: 'Inter', sans-serif;
}

.section-container {
  background-color: var(--colorPrincipal);
  border-radius: 20px;
  padding: 2rem;
  max-width: 870px;
  margin: 2rem auto;
}

h2 {
  font-size: 2rem;
  padding-bottom: 0.8rem;
}

.titulos p {
  font-weight: 200;
  padding-bottom: 1rem;
}

.titulos {
  text-align: center;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  color: #fff;
}

.form-1{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-2{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

textarea { 
  resize: none; 
}

.agregar-foto {
  padding-top: 2rem;
}

hr {
  border-top: 0.3px solid #fff;
  opacity: 60%;
}

.poderes {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.poderes p{
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.personaje {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.personaje p {
  font-size: 1.2rem;
  font-weight: 300;
}

.label-form {
  font-size: 1.2rem;
  font-weight: 300;
}

.label-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 3rem;
  margin: 3% 38%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  transition: all 1s;
}

input[type="submit"]:hover{
  background-color: #001D2D;
  box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
  color: #fff;
}

form input, form textarea{
  margin-bottom: 15px;
  padding: 13px; 
  border: solid 1.5px; 
  font-size: 1em;
  border: transparent;
  border-radius: 10px;
  outline: none;
}

form select{
  display: block;
  width: 100%;
  padding: 15px; 
  border: transparent;
  border-radius: 10px;
}

form input[type="date"], textarea {
  font-family: 'Inter', sans-serif;
}

/* -------MEDIAS-QUERIES------- */

@media screen and (max-width:850px) {
  .form-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width:580px) {
  .form-container {
    flex-direction: column;
  }
  .btn {
    margin: 3% 30%;
  }
}

@media screen and (max-width:480px) {
  body {
    width: 100vw;
  }
  .form-container {
    flex-direction: column;
  }

}